
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178886195513-oc848g8b5akchj95bmgjg3al8aiii9rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178886195513-oc848g8b5akchj95bmgjg3al8aiii9rd</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ8LMZ_Mvro1VnRLQqIUt3y1yLGrbjWo8</string>
	<key>GCM_SENDER_ID</key>
	<string>178886195513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asdfangelo.houseit</string>
	<key>PROJECT_ID</key>
	<string>houseitattempt</string>
	<key>STORAGE_BUCKET</key>
	<string>houseitattempt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178886195513:ios:1de9ff03f39f366f0d10e8</string>
</dict>
</plist>
